@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
}
.header{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Aboreto', cursive;
}
/* Start Navigation */
.header .nav{
  position: fixed;
  top: 0;
  left: 0;
  background:#F3EBD9;
  color: #000;
  width: 100%;
  height: 80px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  z-index: 999;
}
.header .nav p{
  align-self: center;
}
.header .nav #menuToggle{
  display: none;
  color: #fff;
}
.header .nav #navigation{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.header .nav #navigation li{
  position: relative;
  cursor: pointer;
}
.header .nav #navigation li::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #715349;
  transition: .3s;
}
.header .nav #navigation li:hover:before{
  width: 100%;
}
.header .nav #navigation li a{
  text-decoration: none;
  color: #000;
  transition: .3s;
}
@media(max-width:767px){
  .header .nav #navigation{
    position: absolute;
    overflow: hidden;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #F3EBD9;
    width: 100%;
    height: 0;
    transition: .3s;
  }
  .header .nav #navigation.active{
    height: 250px;
    padding-top: 50px;
  }
  .header .nav #menuToggle{
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s;
    color: #715349;
  }
  .header .nav #menuToggle:hover{
    border-radius: 5px;
    border: 2px solid #715349;
  }
}
/* End Navigation */
.landing{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  background-color: #FEFBF0;
}
.landing .boxImg{
  position: relative;
}
.landing .boxImg img{
  max-width: 100%;
}
.landing .boxImg::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .3;
  top: 0;
  right: 0;
  background-image: url(../imgs/original-3.webp);
}
.landing .text p{
  margin-top: 20px;
}
.landing .text button{
  color: #fff;
  background-color: #715349;
  padding: 7px 20px;
  border: none;
  margin-top: 15px;
  font-size: 17px;
}
/* Media*/
@media(max-width:767px){
  .landing{
    flex-direction: column;
    gap: 30px;
  }
}
